@font-face {
  font-family: 'Classic Console Neue';
  src: url('./ClassicConsoleNeue.ttf');
}

@font-face {
  font-family: 'PxPlus_IBM_VGA8';
  src: url('./PxPlus_IBM_VGA8.ttf');
}

@font-face {
  font-family: 'WY60';
  src: url('./WY60.ttf');
}

@font-face {
  font-family: 'SperryPC 8x16';
  font-style: normal;
  font-weight: 400;
  src: url('./Web437_SperryPC_8x16.woff') format('woff');
}

:root {
  --bg-color: #222;
  --fg-color: orange;
  --font: 'SperryPC 8x16';
  --font-size: 16px;
}

html {
  height: 100%;
}

.fix-font {
  /* text should have a 5:6 aspect ratio to render correctly */
  /* TODO: figure out how to apply this without breaking the aspect ratio of the
     entire page (otherwise there's a large border around everthing) */
  transform: scaleX(0.8333);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--font), monospace;
  font-size: var(--font-size);
  min-height: 100%;

  /* transform: scaleX(0.8333);
  width: 120%; */
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  width: 100%;
  height: 1.5em;
  background: var(--fg-color);
  color: var(--bg-color);
  padding-top: 0.25em;
}

header ul {
  display: flex;
  margin: 0;
  padding: 0 1rem;
  justify-content: flex-start;
}

header ul li {
  list-style: none;
  padding: 0;
}

.flex-push {
  margin-left: auto;
}

.main-menu {
  text-align: center;
}

.main-menu ol, .main-menu ul {
  display: inline-block;
  text-align: left;
}

main {
  margin: 1em;
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 1rem;
}

footer div {
  padding: 0.125rem;
}

mark {
  background-color: var(--fg-color);
  color: var(--bg-color);
  padding: 0.1em;
}

input[type="text"] {
  border: none;
  outline: none;
  background-color: var(--bg-color);
  color: var(--fg-color);
  height: 1em;
  font-family: var(--font), monospace;
  font-size: var(--font-size);
}